* {
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
  
  
  
  .main{
    background-color: #0D195F ;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .5);
    
  
  }
  
  .menu {
    width: 400px;
    float:right;
    height:70px;
  }
  
  ul {
    float:right;
    display:flex;
    justify-content:center;
    align-items:center;
  
  }
  
  ul li {
    list-style: none;
    margin-right: 62px;
    margin-top: 27px;
    font-size:14px;
  
  }
  
  ul li a {
    text-decoration: none;
    color: #FFFFFF  ;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    letter-spacing: .2em;
  
  }
  
  
  .typewriter h1 {
    color: #FFFFFF;
    font-family: monospace;
    font-size:40px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .2em;
    overflow: hidden; 
    border-right: .15em solid #9BA9FF  ; 
    white-space: normal;
    margin: 0 auto; 
    animation: 
      typing 1.2s steps(40, end),
      blink-caret .5s step-end infinite;
  }
  
  .typewriter {
    position: absolute;
    left: 55%;
    top: calc(75%);
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #9BA9FF   }
  }
  
  
    
  
  @import url(https://fonts.googleapis.com/css?family=Ubuntu:700);
  html, body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: hsla(221, 95%, 75%, 1);
    background-image: radial-gradient(top, circle cover, hsla(221, 95%, 75%, 1) 5%, hsla(251, 20%, 17%,1) 90%);
    width:100%; 
    overflow:hidden;
    margin:0;
    font-family: 'Ubuntu', sans-serif; 
  }
  h2{
    color:hsla(255,255%,255%,1);
    font-size:1.8em;
    margin-top:3em;
    text-shadow:-3px -3px hsla(255,255%,255%,.3);
  }
  .svg{
    width:100%;
    text-align:center;
    margin:0;
  }
  svg{
    width:100%; 
    margin-top:2em;
  }
  
  
  
  }
  
