* {
    margin: 0;
    padding: 0;
box-sizing: border-box;
overflow: scroll;
}
  
  
  
  .main{
    background-color: #0D195F ;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .5);
    
  
  }

.header {
padding-left: 0%;
padding-right: 0%;
position: fixed;
}
  
  .menu {
    width: 50%;
height: 15%;
  }
  
  ul {
    display:flex;
    justify-content:flex-end;
    align-items:right;
  
  }
  
  ul li {
    list-style: none;
    margin-right: 10%;
    font-size:14px;
  
  }
  
  ul li a {
    text-decoration: none;
    color: #FFFFFF  ;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    letter-spacing: .2em;
  
  }
  
  
  @import url(https://fonts.googleapis.com/css?family=Ubuntu:700);
  html, body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: hsla(221, 95%, 75%, 1);
    background-image: radial-gradient(top, circle cover, hsla(221, 95%, 75%, 1) 5%, hsla(251, 20%, 17%,1) 90%);
    width:100%; 
    overflow:hidden;
    margin:0;
    font-family: 'Ubuntu', sans-serif; 
  }
  h2{
    color:hsla(255,255%,255%,1);
    font-size:1.8em;
    margin-top:3em;
    text-shadow:-3px -3px hsla(255,255%,255%,.3);
  }
  .svg{
    width:100%;
    text-align:center;
    margin:0;
  }
  svg{
    width:100%; 
    margin-top:2em;
  }
  
  
  
  }
  
