/* meetTheTeam.css */

* {
    font-family: 'Kumbh Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

h1 {
    text-align: center;
    align-items: center;
    color: white;
}

.header-txt {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: #0D1C2E 1px 0 10px;
    font-weight: 700;
    font-size: 8vw;
    margin-top: -90px;
}

.information p {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    margin: 15px 0;
}

.student-info{
    background-color: black;
    background-image: url("https://images-assets.nasa.gov/image/hubble-observes-one-of-a-kind-star-nicknamed-nasty_17754652960_o/hubble-observes-one-of-a-kind-star-nicknamed-nasty_17754652960_o~medium.jpg");
    background-position: center;
    background-size: cover;
}

.student-body {
    font-size: 20px;
    margin: 0;
    justify-self: start; /* Note: There seems to be a typo in "justify-self" */
    max-width: 100vw;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
a{
    color: white;
}

.student-info img {
    width: 400px;
    height: 300px;
    display: block;
    margin: auto;
    border-radius: 20px;
    border: 5px solid #808080;
}

.teacher-info img {
    width: 400px;
    height: 300px;
    display: block;
    margin: auto;
    border-radius: 20px;
    border: 5px solid #808080;
}
.teacher-info {
    background-color: black;
    background-image: url("https://images-assets.nasa.gov/image/PIA03654/PIA03654~medium.jpg");
    background-position: center;
    background-size: cover;
}

.industry-info img {
    width: 400px;
    height: 300px;
    display: block;
    margin: auto;
    border-radius: 20px;
    border: 5px solid #808080;
}

.industry-info {
    background-color: black;
    background-image: url("https://universe.nasa.gov/rails/active_storage/disk/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDVG9JYTJWNVNTSWhkR2Q0T1RnMk4ybGlOM0ExYld0aU9EVXdaV28xYjNodk9EbHZZUVk2QmtWVU9oQmthWE53YjNOcGRHbHZia2tpVFdsdWJHbHVaVHNnWm1sc1pXNWhiV1U5SW5CcFlUSXpNVEkyTFRFd05ERXVhbkJuSWpzZ1ptbHNaVzVoYldVcVBWVlVSaTA0Snlkd2FXRXlNekV5TmkweE1EUXhMbXB3WndZN0JsUTZFV052Ym5SbGJuUmZkSGx3WlVraUQybHRZV2RsTDJwd1pXY0dPd1pVT2hGelpYSjJhV05sWDI1aGJXVTZDbXh2WTJGcyIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9rZXkifX0=--de6d9a51de58c4efb6e8258caf763e58135f073a/pia23126-1041.jpg");
    background-position: center;
    background-size: cover;
}

.gallery {
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white
}

.partners-info img {
    width: 400px;
    height: 300px;
    display: block;
    margin: auto;
    border-radius: 20px;
    border: 5px solid #808080;
}
.partners-info {
    background-color: black;
    background-image: url("https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e001260/GSFC_20171208_Archive_e001260~small.jpg");
    background-position: center;
    background-size: cover;
}

.item {
  border: 2px solid #333;
  padding: 10px;
  margin: 1%;
  text-align: center;
  /*background-color: #18244088*/
  background-image: url("https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e000362/GSFC_20171208_Archive_e000362~small.jpg");
  background-position: center;
}



.item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

h3 {
    margin: 10px 0;
    color: white;
}

p {
    margin: 5px 0;
    color: white;
}

.row {
    display: flex;
}

.column {
    flex: 33.33;
    padding: 5px;
}

/*navbar*/

.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    /* max-width: 1300px; */
    margin: 0 auto;
    padding: 0 50px;
    
}

#navbar_logo {
    background-color: blue;
    background-image: linear-gradient(to top, #BDBDBD 0%, white 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: red;
    color: white;
}

.button:hover {
    background: maroon;
    transition: all 0.3s ease;
}

.navbar_links:hover {
    color: red;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container {
	display: flex;
	justify-content: space-between;
	height: 75vh;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	padding: 0;
    }

    .navbar_menu {
	display: grid;
	grid-template-columns: auto;
	margin: 0;
	width: 100%;
	position: absolute;
	top: -1000px;
	opacity: 1; 
	transition: all 0.5s ease;
	height: 75vh;
	z-index: -1;
	background: black;
    }

    .navbar_menu.active {
	background: black;
	top: 100%;
	opacity: 1;
	transition: all 0.5s ease;
	z-index: 99;
	height: 75vh;
	font-size: 1.6rem;
    }

    #navbar_logo {
	padding-left: 25px;
    }

    .navbar_toggle .bar {
	width: 25px;
	height: 3px;
	margin: 5px auto;
	transition: all 0.3s ease-in-out;
	background: white;
    }

    .navbar_item {
	width: 100%;
    }

    .navbar_links {
	text-align: center;
	padding: 2rem;
	width: 100%;
	display: table;
    }

    #mobile-menu {
	position: absolute;
	top: 20%;
	right: 5%;
	transform: translate(5%, 20%);
    }

    .navbar_btn {
	padding-bottom: 2rem;
    }

    .button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 80px;
	margin: 0;
    }

    .navbar_toggle .bar {
	display: block;
	cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
	opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
    }    
}

/*.AstroBot {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    transform: translateX(50%) translateY(50%);
    bottom: -90px;
}*/

