/* meetTheTeam.css */

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

h1 {
    text-align: center;
    color: white;
}

.header-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: #0D1C2E 1px 0 10px;
    font-weight: 700;
    font-size: 8vw;
}

.gallery {
  //display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white
}

.item {
  border: 2px solid #333;
  padding: 10px;
  margin: 1%;
  text-align: center;
  /*background-color: #18244088*/
  background-image: url("https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e000362/GSFC_20171208_Archive_e000362~small.jpg");
  background-position: center;

}

.item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

h3 {
    margin: 10px 0;
    color: white;
}

p {
    margin: 5px 0;
    color: white;
}

.row {
    display: flex;
}

.column {
    flex: 33.33;
    padding: 5px;
}

