html {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;

    margin: 0;
    padding: 0;

body{
    background-color: #F4F4F4; 
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

h2 {
    font-size: 300px;
  
}

h3 {
    font-size: 50px;
}


.programs {
    width: 100%;
}

.indv-programs {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: black;
  
}

.design-proto {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    /* gap: 50px;*/
  
}

.blue-section {
    background-color: #0D1C2E;
    color: white;

}

.left-pgrm{
    display: flex;
    justify-content: flex-end;
}

.software {
    display: flex;
    text-align: right;
}

.programs img {
    width: 300px;
}

.des-proto-img {
    border: 7px solid #F4F4F4;
}
.software-img {
    border: 7px solid #0D1C2E;
}

@media screen and (min-width: 1020px){
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: #0D1C2E 1px 0 10px;
    font-weight: 700;
    font-size: 8vw;
}
}


.pgrm-header {
    width: 100%;
    height: 90vh;
    background: url(https://i.kinja-img.com/image/upload/c_fill,h_675,pg_1,q_80,w_1200/fbdf4431489343d09be0153a9b781653.jpg) top center;
    background-image: url(https://i.kinja-img.com/image/upload/c_fill,h_675,pg_1,q_80,w_1200/fbdf4431489343d09be0153a9b781653.jpg);
    background-position-x: center;
    background-position-y: top;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: cover;
    position: relative;

}
